!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title
      &gt;_ TryElixir
    - css_path = static_path(@conn, "/css/app.css")
    %link{href: "#{css_path}", rel: "stylesheet"}
  %body
    .container-fluid.head-container
      %header.header
        .row
          %span.col-xs-5
          .col-xs-6
            %h1.title
              Try Elixir
              &nbsp;
              %a.hint--rounded.hint--right{href: '#', data-hint: 'Type Elixir commands into the shell!', aria-hidden: "true"}
                .span.glyphicon.glyphicon-question-sign
      %p.alert.alert-info{role: "alert"}= get_flash(@conn, :info)
      %p.alert.alert-danger{role: "alert"}= get_flash(@conn, :error)
    %main.container{role: "main"}
      = render @view_module, @view_template, assigns
    - js_path = static_path(@conn, "/js/app.js")
    .container-fluid.bottom
      .col-xs-1.pull-right
        %a{href: 'http://elixir-lang.org'}
          %img#logo{src: "/images/elixir.png"}
    %script{src: "#{js_path}"}
